body {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 16px;
}

.container {
	margin: 0 auto;
	background-color: #efefef;
	max-width: 1200px;
}

.box {
	background-color: #8ea86e;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

.logo {
	width: 600px;
	order: -1;
	cursor: pointer;
}

#mainHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav {
	flex: 0 1 100px;
	cursor: pointer;
}

#burgerCon {
	margin-bottom: 20px;
	position: fixed;
	top: 85px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
/*	this should be off by default and toggled on with JS*/
	display: none;
}

.show-mobile-nav {
	display: block !important;
}

#burgerCon a {
	text-decoration: none;
	color: #8ea86e
}

#burgerCon li {
	padding: 20px;
	border-top: thin solid #efefef;
	text-align: center;
	top: 60px;
}

@media screen and (min-width: 600px) {
	#mainHeader {
		display: flex;
		flex-direction: row;
	}

	.box {
		flex: 1 1 auto;
	}

	.nav {
		flex: 0 1 600px;
	}

	.logo {
		order: -1;
		flex: 0 1 220px;
		margin-left: 10px;
		margin-right: auto;
	}

	#products {
		display: flex;
		flex-direction: row;
	}
}